<div class="map-editor">
  <header class="header">
    <h1>Map editor</h1>
    <nav>
      <ul>
        <li><a href="#">Controls</a></li>
      </ul>
    </nav>
  </header>
  <main class="no_container">
    <div class="map-editor__selection">
      <div class="map-editor__selection-block">
        <h2 class="map-editor__selection-block__title">Tiles</h2>
        <ul class="map-editor__selection__tabs">
          <li class="on">A</li>
          <li class="">B</li>
          <li class="">B</li>
          <li class="">B</li>
          <li class="">B</li>
          <li class="">B</li>
          <li class="">B</li>
          <li class="">B</li>
          <li class="">B</li>
          <li class="">B</li>
        </ul>
        <div id="map_editor__tiles" class="map-editor__selection-block__content"></div>
      </div>
      <div class="map-editor__selection-block">
        <h2 class="map-editor__selection-block__title">Layers</h2>
        <ul id ="map-editor__layers" class="map-editor__selection-block__content">
        </ul>
      </div>
    </div>
    <div class="map-editor__map">
    </div>
  </main>
</div>
<%= javascript_include_tag "map_editor", "data-turbo-track": "reload" %>
